@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Caveat", cursive;
  font-weight: 400;
}

img {
  border-radius: 8px;
  margin-top: 10%;
  width: 200px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 360px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid white;
  border-radius: 15px;
}

.inner-box {
  width: 200px;
  height: 200px;
  /* background-color: #eee; */
}

.text-container {
  margin-top: 20px;
  text-align: center;
}
